*, *::before, *::after{
    box-sizing: border-box;
}
html{
    box-sizing: inherit;
}
body{
    background-color: #1B1B1B;
    color: #ffffff;
    overflow-x: hidden;
    position: relative;
    padding-top: 79px;
}
h1, h2, h3, h5, h6, p{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
button, input{
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    color: inherit;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}