.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 30px;
    background: rgba(226, 226, 226, 0.05);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
}
.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 34px;
    line-height: 47px;
    color: #FFFFFF;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 280px;
    width: 100%;
    margin-left: 60px;
}
.header__nav-link{
    position: relative;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.header__nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 0;
    background-color: #FFFFFF;
    transition: all 0.36s ease-in-out;
}
.header__nav-link:hover::before{
    height: 2px;
    bottom: 0;
}
.header__cabinet{
    display: flex;
    align-items: center;
}
.header__cabinet__content{
    display: flex;
    align-items: center;
}
.header__cabinet__content svg{
    width: 55px;
    height: 55px;
}
.header__cabinet__title{
    margin-left: 12px;
    font-weight: 600;
    font-size: 26px;
    line-height: 38px;
    color: #FFFFFF;
}