.about{
    background-image: url('../../img/index/movie.mp4');
    position: relative;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}
.video__container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.video__container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(301.02deg, #477BFF 37.7%, rgba(105, 147, 255, 0.31) 93.01%);
    background: -ms-linear-gradient(301.02deg, #477BFF 37.7%, rgba(105, 147, 255, 0.31) 93.01%);
    background: -o-linear-gradient(301.02deg, #477BFF 37.7%, rgba(105, 147, 255, 0.31) 93.01%);
}
.about__video-video{
    height: 100%;
}
.about__video h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: right;
    max-width: 860px;
}
.about__container{
    position: relative;
    z-index: 1;
    max-width: none;
    padding: 0;
    margin-left: calc((100vw - 1280px) / 2);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.about__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 130px 127px 80px;
    background: #202330;
}
.about__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 50px;
}
.about__features{
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #6FBAFF;
    margin-bottom: 30px;
}
.about__features-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}
.about__features-item{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
}
.about__features-item:last-child{
    margin-bottom: 0;
}
.about__benefits{
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #6FBAFF;
    margin-bottom: 30px;
}
.about__benefits-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 185px;
}
.about__benefits-item{
    width: 218px;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
}
.about__benefits-item:last-child{
    margin-bottom: 0;
}
.about-item{
    padding-left: 30px;
    position: relative;
}
.about-item::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #6FBAFF;
}
.about__video{
    padding-bottom: 160px;
}
.about-btn{
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    padding: 15px 22px;
    font-size: 20px;
    line-height: 24px;
    transition: all 0.36s ease-in-out;
}
.about-btn:hover{
    background-color: #6FBAFF;
    border-color: #6FBAFF;
    color: #FFFFFF;
}