.hero{
    position: relative;
    min-height: auto;
    height: calc(100vh - 47px);
    background-image: url('../../img/index/7Z6Q.gif');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}
.hero::before{
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    background-color: rgba(27, 27, 27, 0.8);
    z-index: 1;
}
.hero__container{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    max-width: none;
    margin-left: calc((100vw - 1280px) / 2);
}
.hero__image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 100%;
    text-align: right;
}
.hero__image img{
    height: 100%;
}
.hero__title{
    font-weight: 500;
    font-size: 96px;
    line-height: 114px;
    margin-bottom: 17px;
    color: #6FBAFF;
}
.hero__subtitle{
    max-width: 630px;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 100px;
}
.hero__button{
    display: flex;
    align-items: center;
}
.hero__button-btn{
    padding: 15px 22px;
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    font-size: 20px;
    line-height: 24px;
    margin-right: 36px;
    transition: all 0.36s ease-in-out;
}
.hero__button-btn:hover{
    background-color: #6FBAFF;
    border-color: #6FBAFF;
    color: #FFFFFF;
}
.hero__button-link{
    margin-right: 16px;
}
.hero__button-link:last-child{
    margin-right: 0;
}
@media (max-width: 1320px){
    .hero__image{
        display: none;
    }
    .hero__container{
        background-image: url('../../img/index/Tom-Clancys-Rainbow-Six-PNG.png');
        background-position: center right;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .hero::before{
        background-color: rgba(27, 27, 27, 0.5);
    }
    .hero__container::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .hero__content{
        position: relative;
        z-index: 2;
    }
}
@media (max-width: 1240px) {
    .hero__container{
        padding: 0 20px;
        margin-left: 0 !important;
    }
}
@media (max-width: 760px){
    .hero__container{
        background-image: url('../../img/index/Tom-Clancys-Rainbow-Six-PNG.png');
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
@media (max-width: 640px){
    .hero__title{
        font-size: 64px;
    }
    .hero__subtitle{
        font-size: 20px;
    }
    .hero__subtitle{
        margin-bottom: 40px;
    }
}
@media (max-width: 460px){
    .hero__button{
        flex-direction: column;
        align-items: flex-start;
    }
    .hero__button-btn{
        margin-bottom: 10px;
    }
}
@media (max-height: 380px){
    .hero__title{
        line-height: 60px;
        margin-bottom: 0;
    }
    .hero__subtitle{
        margin-bottom: 6px;
    }
}