.hero{
    position: relative;
    min-height: auto;
    height: calc(100vh - 80px);
    background-image: url('../../img/index/7Z6Q.gif');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}
.hero::before{
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    background-color: rgba(27, 27, 27, 0.8);
    z-index: 1;
}
.hero__container{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    max-width: none;
    margin-left: calc((100vw - 1280px) / 2);
}
.hero__image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 100%;
    text-align: right;
}
.hero__image img{
    height: 100%;
}
.hero__title{
    font-weight: 500;
    font-size: 96px;
    line-height: 114px;
    margin-bottom: 17px;
    color: #6FBAFF;
}
.hero__subtitle{
    max-width: 630px;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.2em;
    color: rgba(255, 255, 255, 0.65);
    margin-bottom: 100px;
}
.hero__button{
    display: flex;
    align-items: center;
}
.hero__button-btn{
    padding: 15px 22px;
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    font-size: 20px;
    line-height: 24px;
    margin-right: 36px;
    transition: all 0.36s ease-in-out;
}
.hero__button-btn:hover{
    background-color: #6FBAFF;
    border-color: #6FBAFF;
    color: #FFFFFF;
}
.hero__button-link{
    margin-right: 16px;
}
.hero__button-link:last-child{
    margin-right: 0;
}