.overlay{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(35, 35, 35, 0.58);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.36s ease-in-out;
}
.modal{
    position: relative;
    padding: 40px 74px 115px;
    background-color: #000000;
    border-radius: 30px;
    cursor: default;
}
.modal__close{
    position: absolute;
    top: -35px;
    right: -35px;
    width: 35px;
    height: 35px;
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.93934' y1='36.9393' x2='37.2947' y2='1.584' stroke='white' stroke-width='3'/%3E%3Cline x1='2.06066' y1='1.93934' x2='37.416' y2='37.2947' stroke='white' stroke-width='3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.modal__btn-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 86px;
}
.modal__btn{
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.63);
    transition: all 0.36s ease-in-out;
}
.modal__content{
    width: 354px;
    overflow-x: hidden;
}
.modal__container{
    width: 708px;
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transition: all 0.36s ease-in-out;
    transform: translateX(0);
}
.modal__container form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}
.modal__inp{
    padding: 16px 42px;
    border: 3px solid #FFFFFF;
    border-radius: 100px;
    width: 354px;
}
.modal__btn-form{
    padding: 11px 44px;
    background: #FFFFFF;
    border-radius: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.modal_btn-active{
    color: #FFFFFF;
    position: relative;
}
.modal_btn-active::before{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: #D9D9D9;
    border-radius: 100px;
}
.modal_signup-active{
    transform: translateX(0);
}
.overlay-active{
    visibility: visible;
    opacity: 1;
}
.modal__signin-active{
    transform: translateX(-354px);
}