.tabs{
    min-height: auto;
    padding: 150px 0 0;
}
.tabs__title{
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    margin-bottom: 70px;
    text-align: center;
}
.tabs__item{
    width: 100%;
    background-color: #242424;
    padding: 0 136px 32px 46px;
    border-radius: 20px;
    margin-bottom: 70px;
    overflow-y: hidden;
}
.tabs__item-btn{
    padding: 32px 32px 0;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #6FBAFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.36s ease-in-out;
}
.tabs__item-btn::after{
    content: '';
    display: inline-block;
    width: 56px;
    height: 56px;
    background-image: url('../../img/index/tabs-btn.png');
    transition: transform 0.36s ease-in-out;
}
.tabs__item-content{
    height: 0;
    font-size: 24px;
    line-height: 28px;
    padding: 0 32px;
    overflow: hidden;
    transition: all 0.36s ease-in-out;
}
.tabs__item-btn-active{
    margin-bottom: 35px;
}
.tabs__item-btn-active::after{
    transform: rotate(180deg);
}
.tabs__item-content-active{
    height: 80px;
}
@media (max-width: 1040px) {
    .tabs__title{
        font-size: 32px;
    }
    .tabs__item{
        padding: 0 20px 32px 46px;
    }
    .tabs__item-btn p{
        max-width: 300px;
    }
}
@media (max-width: 680px){
    .tabs{
        padding: 100px 0 0;
    }
    .tabs__item{
        margin-bottom: 20px;
    }
}
@media (max-width: 560px){
    .tabs__item-btn::after{
        display: block;
        width: 36px;
        height: 36px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .tabs__item-btn p{
        font-size: 26px;
    }
    .tabs__item-content{
        font-size: 18px;
        padding: 0 12px;
    }
    .tabs__item{
        padding: 0 10px 22px 16px;
    }
}
@media (max-width: 480px){
    .tabs__item-btn p{
        max-width: 200px;
    }
}
@media (max-width: 380px){
    .tabs__item-btn{
        padding: 20px 12px 0;
    }
    .tabs__item-btn p{
        max-width: 100%;
    }
    .tabs__item-btn::after{
        display: none;
    }
}