.tabs{
    min-height: auto;
    padding: 150px 0 0;
}
.tabs__title{
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    margin-bottom: 70px;
    text-align: center;
}
.tabs__item{
    width: 100%;
    background-color: #242424;
    padding: 0 136px 32px 46px;
    border-radius: 20px;
    margin-bottom: 70px;
    overflow-y: hidden;
}
.tabs__item-btn{
    padding: 32px 32px 0;
    width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #6FBAFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.36s ease-in-out;
}
.tabs__item-btn::after{
    content: '';
    display: inline-block;
    width: 56px;
    height: 56px;
    background-image: url('../../img/index/tabs-btn.png');
    transition: transform 0.36s ease-in-out;
}
.tabs__item-content{
    height: 0;
    font-size: 24px;
    line-height: 28px;
    padding: 0 32px;
    overflow: hidden;
    transition: all 0.36s ease-in-out;
}
.tabs__item-btn-active{
    margin-bottom: 35px;
}
.tabs__item-btn-active::after{
    transform: rotate(180deg);
}
.tabs__item-content-active{
    height: 80px;
}